<footer class="footer-area">
    <!-- Footer Start -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="footer-title">
                        <h5>My Account</h5>
                    </div>
                    <nav>
                        <ul class="footer-content">
                            <li><a href="/account/user-profile">My Account</a></li>
                            <li><a href="/account/Orders">Order History</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="footer-title">
                        <h5>Customer Service</h5>
                    </div>
                    <nav>
                        <ul class="footer-content">
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-xs-12 hidden-sm col-md-3">
                    <div class="footer-title">
                        <h5>Content</h5>
                    </div>
                    <nav>
                        <ul class="footer-content">
                            <li><a href="/shop/Products">Products</a></li>
                            <li><a href="/shop/Brands">Brands</a></li>
                            <li><a href="/cart/MainCart">Cart</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="footer-title">
                        <h5>Payment &amp; Shipping</h5>
                    </div>
                    <nav>
                        <ul class="footer-content box-information">
                            <li>
                                <i class="fa fa-home"></i><span style="position: relative; top: 7px;">Ukraine</span>
                            </li>
                            <li>
                                <i class="fa fa-envelope-o"></i><p><a href="/">admin</a></p>
                            </li>
                            <li>
                                <i class="fa fa-phone"></i>
                                <span style="position: relative; top: 7px;">+3800961512413</span>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>Copyright © All rights reserved.</p>
                        <div class="payment">
                            <a href="#"><img src="~/Front-end/img/payment.png" alt="Payment"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>