<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ZooLux</title>
        <link rel="stylesheet" type="text/css" href="index.css">
        <link rel="stylesheet" type="text/css" href="./css/fonts.css">
    </head>
    <body>
        <header>
            <button class="sign_up">
                <span>Sign up!</span>
            </button>
            <div class="logo_header"></div>
            <div class="menu_item"></div>
            <div class="telegram_icon"></div>
            <div class="shop_cart"></div>
            <div class="deliter"></div>
        </header>
        <section class="main">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Consequatur illo facere earum ipsa? Architecto assumenda
                voluptas, fugit ea, deserunt, culpa suscipit magnam perferendis
                voluptatibus dolore dolorum! Accusamus eveniet pariatur
                molestias!</p>
        </section>
        <footer>
            <div class="deliter"></div>
            <div class="categories">
                <div class="categories_text">Categories</div>
                <div class="category_items">
                    <div class="category_item">category</div>
                    <div class="category_item">category</div>
                    <div class="category_item">category</div>
                    <div class="category_item">category</div>
                    <div class="category_item">category</div>
                </div>
            </div>
            <div class="logo_footer"></div>
            <div class="pages">
                <div class="pages_items">
                    <div class="page_item">main</div>
                    <div class="page_item">contacts</div>
                    <div class="page_item">cart</div>
                </div>
            </div>
        </footer>
    </body>
</html>