.main {
    margin-top: 80px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
textarea {
    max-width: 280px;
}

select {
    max-width: 100px;
}

.new-cat {
    margin-top: 30px;
    position: relative;
}

.ajax-text {
    display: none;
}

.main {
    margin-top: 70px;
}