[data-hint] {
    position: relative;
}

[class*="hint-"][class*="-t-info"] [class*="hint-bottom"]:before {
    border-bottom-color: #2b303b;
}

[class*="hint-anim"][class*="hint-bottom"]:after,
[class*="hint-anim"][class*="hint-bottom"]:before {
    top: 125%;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease, visibility 0.3s ease, top 0.3s ease;
    transition: opacity 0.3s ease, visibility 0.3s ease, top 0.3s ease;
}

[class*="hint-bottom-middle"]:before,
[class*="hint-top-middle"]:before {
    right: 50%;
    margin-right: -5px;
}

[class*="hint-bottom"]:before {
    border-bottom-color: #292929;
    top: 100%;
    margin-top: 0px;
}

[data-hint]:before {
    content: "";
    border: 5px solid transparent;
    z-index: 9998;
}

[data-hint]:after,
[data-hint]:before {
    display: inline-block;
    pointer-events: none;
    position: absolute;
    visibility: hidden;
}

[class*="hint-"][class*="-t-info"]:after {
    background: #2b303b;
}

[class*="hint-anim"][class*="hint-bottom"]:after,
[class*="hint-anim"][class*="hint-bottom"]:before {
    top: 125%;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease, visibility 0.3s ease, top 0.3s ease;
    transition: opacity 0.3s ease, visibility 0.3s ease, top 0.3s ease;
}

[class*="hint-"][class*="-s-small"]:after {
    width: 130px;
    white-space: normal;
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    border-radius: 3px;
    padding: 5px 5px 7px;
}

[class*="hint-bottom-middle"]:after,
[class*="hint-top-middle"]:after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

[class*="hint-bottom"]:after {
    margin-top: 10px;
    top: 100%;
}

[data-hint]:after,
[data-hint]:before {
    display: inline-block;
    pointer-events: none;
    position: absolute;
    visibility: hidden;
}

[data-hint]:after {
    content: attr(data-hint);
    text-align: center;
    white-space: nowrap;
    z-index: 9999;
    background: #292929;
    padding: 3px 7px;
    border-radius: 2px;
    color: white;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2em;
}